<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>The Watering Hole</title>
</head>

<body>
    <header>
        <h1>The Watering Hole</h1>
        <nav>
            <a href="{% url 'reservation_list' %}">Reservations</a>
            <a href="{% url 'register' %}">Register</a>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>